<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infinity.monginis">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/monginis"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App.Theme"
        android:usesCleartextTraffic="true">
        <activity android:name=".dashboard.activity.ItemDetailsNewActivity"></activity>
        <activity android:name=".dashboard.activity.AddsOnActivity" />
        <activity android:name=".dashboard.activity.SectionsubCategoryActivity" />
        <activity android:name=".ShopForItemActiivty.ShopForItemActivity" />
        <activity android:name=".Map.MapActivity" />
        <activity android:name=".CategoryItemsDetails.Activity.CategoryItemsDetailsActivity" />
        <activity android:name=".dashboard.activity.SelectCityActivity" />
        <activity android:name=".dashboard.activity.AddNewCardActivity" />
        <activity android:name=".dashboard.activity.TackOrderActivity" />
        <activity android:name=".dashboard.activity.RateThisOrderActivity" />
        <activity android:name=".dashboard.activity.MongininsWalletActivity" />
        <activity android:name=".dashboard.activity.ApplyCoupenCodeActivity" />
        <activity android:name=".dashboard.activity.MyOrdersScreenActivity" />
        <activity android:name=".dashboard.activity.AddressActivity" />
        <activity android:name=".dashboard.activity.MyOrdersActivity" />
        <activity android:name=".dashboard.activity.DiscountCodeActivity" />
        <activity android:name=".dashboard.activity.PaymentOptionsActivity" />
        <activity android:name=".dashboard.activity.ConfirmOrderActivity" />
        <activity android:name=".dashboard.activity.CartActivity" />
        <activity android:name=".dashboard.activity.CustomizeScreenActivity" />
        <activity
            android:name=".dashboard.activity.EditUserDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.activity.ItemDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard.activity.DashboardActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.infinity.monginis"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <service
            android:name=".services.MyFirebaseInstanceIdAndMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuf0RugD2HBIhkfEj11Ocv78jgt3lMkM0" />
    </application>

</manifest>